@model MCC.Korsini.Announcements.WebUI.ViewModels.ScheduledAnnouncementViewModel
@{
    ViewData["Title"] = "Planlanmış Duyuru Oluştur";
}
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<div class="container">
    <h2>Planlanmış Duyuru Oluştur</h2>
    <form asp-action="Create" asp-controller="PlanScheduledAnnouncement" method="post" enctype="multipart/form-data">
        <h5>Türkçe Duyuru</h5>
        <!-- Title_TR Alanı -->
        <div class="mb-3">
            <label asp-for="Title_TR" class="form-label">Başlık (Türkçe)</label>
            <input asp-for="Title_TR" class="form-control" aria-describedby="titleHelp">
            <div id="titleHelp" class="form-text">Duyuru Başlığı</div>
            <span asp-validation-for="Title_TR" class="text-danger"></span>
        </div>
        <!-- TinyMCE’nin textareası -->
        <!-- Content_TR Alanı -->
        <div class="mb-3">
            <label asp-for="Content_TR" class="form-label">İçerik (Türkçe)</label>
            <textarea asp-for="Content_TR" class="form-control" id="TinyMCETextArea" aria-describedby="contentHelp" enable-tinymce></textarea>
            <div id="contentHelp" class="form-text">Duyuru İçeriği</div>
            <span asp-validation-for="Content_TR" class="text-danger"></span>
        </div>
        <hr>
        <h5>English Announcement</h5>
        <!-- Title_EN Alanı -->
        <div class="mb-3">
            <label asp-for="Title_EN" class="form-label">Title (English)</label>
            <input asp-for="Title_EN" class="form-control" aria-describedby="titleHelp">
            <div id="titleHelp" class="form-text">Announcement Title</div>
            <span asp-validation-for="Title_EN" class="text-danger"></span>
        </div>

        <!-- TinyMCE’nin textareası -->
        <!-- Content_EN Alanı -->
        <div class="mb-3">
            <label asp-for="Content_EN" class="form-label">Content (English)</label>
            <textarea asp-for="Content_EN" class="form-control" id="TinyMCETextArea" aria-describedby="contentHelp" enable-tinymce></textarea>
            <div id="contentHelp" class="form-text">Announcement Content</div>
            <span asp-validation-for="Content_EN" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Type" class="form-label">Tür</label>
            <input asp-for="Type" class="form-control" type="hidden" value="Planlanmış Duyuru" />
            <span asp-validation-for="Type" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Attachments" class="form-label">Ek Dosyalar</label>
            <input asp-for="Attachments" class="form-control" type="file" multiple data-val="false">
            <span asp-validation-for="Attachments" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="SelectedScheduleType" class="form-label">Planlama Şekli</label>
            <select asp-for="SelectedScheduleType" class="form-select" asp-items="Model.ScheduleTypes" id="scheduleType"></select>
            <span asp-validation-for="SelectedScheduleType" class="text-danger"></span>
        </div>

        <div class="mb-3" id="scheduledDateContainer" style="display:none;">
            <label asp-for="ScheduledDate" class="form-label">Planlanmış Tarih ve Saat</label>
            <input asp-for="ScheduledDate" type="datetime-local" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" />
            <span asp-validation-for="ScheduledDate" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Kaydet</button>
    </form>
</div>

<script>
    // Planlama türü seçimine göre tarih alanının görünürlüğünü ayarlar
    document.getElementById("scheduleType").addEventListener("change", function () {
        var scheduleType = this.value;
        var scheduledDateContainer = document.getElementById("scheduledDateContainer");

        if (scheduleType === "Once") {
            scheduledDateContainer.style.display = "block";
        } else {
            scheduledDateContainer.style.display = "none";
        }
    });
</script>
