@{
    ViewData["Title"] = "Erişim Reddedildi";
}

<h1>Erişim Reddedildi</h1>
<p>Bu sayfaya erişim yetkiniz yok. Eğer bir hata olduğunu düşünüyorsanız, sistem yöneticinizle iletişime geçin.</p>

<a href="~/">Ana Sayfa</a>