<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Coded by Selahattin Acikgoz. / selahattin.acikgoz@mcclabel.com -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MCC Korsini Announcement</title>
    <link rel="shortcut icon" href="~/img/favicon.ico">
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-table@1.23.5/dist/bootstrap-table.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/AnnouncementSite.css" />
</head>
<body>
    <!-- Navbar veya diğer header içerikleri -->
    <div class="container-fluid">
        <header>
            <nav class="navbar navbar-expand-lg bg-body-tertiary rounded">
                <div class="container-fluid">
                    <a class="navbar-brand d-flex flex-column align-items-start" asp-area="" asp-controller="Announcement" asp-action="Index">
                        <img src="~/img/MCC_Korsini_Logo.png" alt="Logo" class="img-fluid" style="max-width: 150px;">
                        <span class="small-slogan text-muted mt-1">Information Technology Department</span>
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample11" aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse d-lg-flex" id="navbarsExample11">
                        <ul class="navbar-nav col-lg-8 justify-content-lg-center">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Announcement" asp-action="Index">Duyurular</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Procedures" asp-action="Index">Prosedürler</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="UserGuides" asp-action="Index">Kullanım Kılavuzları</a>
                            </li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                if (User.IsInRole("Admin"))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="PlanScheduledAnnouncement" asp-action="Index">Planlanmış Duyurular</a>
                                    </li>
                                }
                            }
                        </ul>
                        <div class="d-lg-flex col-lg-3 justify-content-lg-end">
                            <ui class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" data-bs-toggle="dropdown" aria-expanded="false">@User.Identity.Name <i class="bi bi-person-circle"></i></a>
                                <ul class="dropdown-menu">
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <li class="dropdown-item">
                                            <form asp-controller="Account" asp-action="Logout" method="post">
                                                <button type="submit" class="text-dark btn nav-link">
                                                    <i class="bi bi-box-arrow-in-left"></i> Çıkış Yap
                                                </button>
                                            </form>
                                        </li>

                                    }
                                    else
                                    {
                                        <li class="dropdown-item">
                                            <form asp-controller="Account" asp-action="Login" method="get">
                                                <button type="submit" class="text-dark btn nav-link">
                                                    <i class="bi bi-box-arrow-in-right"></i> Giriş Yap
                                                </button>
                                            </form>
                                        </li>
                                    }
                                </ul>
                            </ui>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

    </div>
    <main role="main" class="container pb-3 pt-3">
        @RenderBody()
        <div id="toastContainer" class="toast-container position-fixed bottom-0 end-0 p-3">
            @if (TempData["ToastMessage"] != null)
            {
                var toastType = TempData["ToastType"]?.ToString() ?? "info";
                var toastMessage = TempData["ToastMessage"]?.ToString() ?? "";

                <div class="toast align-items-center text-bg-@toastType border-0 show" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="d-flex">
                        <div class="toast-body">
                            @toastMessage
                        </div>
                        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                </div>
            }
        </div>
    </main>
    <!-- Footer her zaman en altta -->
    <footer class="container border-top py-3">
        <div class="d-flex flex-wrap justify-content-between align-items-center">
            <p class="col-md-4 mb-0 text-body-secondary">&copy; 2024 - MCC Korsini - IT Departments</p>

            <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <img src="~/img/MCC_Korsini_Logo.png" alt="Logo" class="img-fluid" style="max-width: 100px;">
            </a>

            <ul class="nav col-md-4 justify-content-end"></ul>
        </div>
    </footer>

    <!-- jQuery Kütüphanesi -->
    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Bundle (Hem Bootstrap hem de Popper içeren sürüm) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Bootstrap Table -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.23.5/dist/bootstrap-table.min.js"></script>
    <!-- Bootstrap Table Türkçe Dil Paketi -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.18.3/locale/bootstrap-table-tr-TR.min.js"></script>
    <script src="~/js/announcementsitejs.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
