@model MCC.Korsini.Announcements.WebUI.ViewModels.UserGuideAddViewModel
@{
    ViewData["Title"] = "Yeni Kılavuz Ekle";
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<form asp-action="Create" asp-controller="UserGuides" method="post" enctype="multipart/form-data">
    <h5>Yeni Kılavuz Ekle</h5>
    <!-- Kılavuz Title Alanı -->
    <div class="mb-3">
        <label asp-for="Title" class="form-label">Kılavuz Başlığı</label>
        <input asp-for="Title" class="form-control" aria-describedby="titleHelp">
        <div id="titleHelp" class="form-text">Duyuru Başlığı</div>
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <!-- Dosya Yükleme Alanı -->
    <div class="mb-3">
        <label asp-for="Attachments" class="form-label">Ek Dosyalar</label>
        <input asp-for="Attachments" class="form-control" type="file" multiple>
        <span asp-validation-for="Attachments" class="text-danger"></span>
    </div>
    <div class="row g-3 p-2">
        <button type="submit" class="btn btn-info">Kılavuzu Ekle</button>
    </div>
</form>